<html>
    <head>
        <title>Invitation</title>
        <link rel="stylesheet" type="text/css" href="/app.css">
        <script
          src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous">
        </script>
        <script type="text/javascript" src="app.js"></script>
    </head>
    <body>
        <h1> Send invitations to these partners.</h1>
        <ul class="list">
        </ul>
        
        
        
    </body>
</html>